:root{
    --bg-main: rgb(219, 241, 241);
    --bg-card: rgb(203, 233, 233);
    --text-main: #000000;
    --text-muted: #666666;
    --border-color: #cccccc;
    --bg-footer: rgb(51, 51, 51);
}
.dark-mode {
    --bg-main: #121212;
    --bg-card: #1e1e1e;     
    --text-main: #ffffff;
    --text-muted: #aaaaaa;
    --border-color: #444444;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 2px solid red;
}
body{
    padding-top: 137px;
    background-color: var(--bg-main);
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow-x: hidden;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0.2);
}
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  --size-of-icon: 1.4em;
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch .slider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f4f4f5;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s;
}
.switch .slider::before{
    content: "";
    position: absolute;
    width: var(--size-of-icon);
    height: var(--size-of-icon);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3rem;
    transition: 0.4s;
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
}

h2{
    font-size: 2rem;
}
.left-nav img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.left-nav h2{
    display: block;
    margin: auto;
}
.right-nav .menu{
    display: none;
}
.right-nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.right-nav ul a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-main);
}
.hero{
    min-height: 80vh;
    padding: 150px 40px 80px 40px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}
.right-section img{
    width: 110px;
    height: 80px;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.project-section{
    padding: 60px 20px;
}
.project-section h2{
    padding: 10px;
}
.project-section .card h3{
    margin-bottom: 30px;
}
.project-section .card .thumbail{
    width: 300px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.project-grid .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-top: 20px;
}
.card{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;  
    background-color: var(--bg-card);
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.card .detail{
    margin: 10px;
    text-decoration: none;
    color: var(--text-main);
}
.skill-section h2{
    padding: 10px;
    padding-left: 30px;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}
.skill-grid .card-skill{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;  
    background-color: var(--bg-card);
    height: 30vh;
}
.skill-grid .card-skill:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.skill-section .card-skill .name-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 0 
}
.contact-section h2{
    padding: 10px;
    padding-left: 30px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}
.contact-info{
    padding: 10px;
    line-height: 3rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.contact-info h3, .contact-form h3{
    font-size: 2rem;
    padding-bottom: 10px;
}
.contact-form form{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.contact-name, .contact-email, .contact-mess{
    width: 80%;
    padding: 10px;
    border: 1px solid var(--text-main);
    background-color: var(--bg-card);
    border-radius: 8px;
    color: var(--text-main);
}
.contact-form h3{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.contact-btn{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 
        10px 10px 20px var(--bg-card),
        -10px -10px 20px rgb(192, 237, 237);
    transition: all 0.2s ease;
}
.contact-btn:active{
    box-shadow: 
            inset 5px 5px 10px rgb(192, 237, 237),   
            inset -5px -5px 10px var(--bg-card); 
            
    color: black;
}
footer{
    background-color: var(--bg-footer);
    color: var(--text-main);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
footer .quote{
    font-style: italic;
    font-size: 1rem;
    padding-bottom: 10px;
}
footer .social-icon{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
    color: var(--bg-card)
}
footer .social-icon a{
    text-decoration: none;
    color: var(--bg-card);
    width: 40px;
    height: 40px;
    border: 1px solid #888;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
footer .social-icon a:hover{
    color: white; 
    border-color: transparent;
    transform: translateY(-5px);
}
.social-icon a:nth-child(1):hover { color: #1877F2; }
.social-icon a:nth-child(2):hover { color: #000000; }
.social-icon a:nth-child(3):hover { color: white; }
.social-icon a:nth-child(4):hover { color: #cf2727; }
.copyright {
    font-size: 0.9rem;
    color: #999;
    padding: 10px;
}
@media(max-width: 768px){
    .right-nav .menu{
        display: block;
        z-index: 1001;
        cursor: pointer;
        transition: 0.2s ease;
        position: relative;
    }
    .right-nav .nav-links{
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: 0;
        width: 40%;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        background-color: #ffffff; 
        box-shadow: -10px 0 20px rgba(0,0,0,0.1);
        padding-top: 60px;
        padding-left: 20px;
        padding-bottom: 20px;
        gap: 20px;          
        transform: translateX(100%); 
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
        z-index: 100;
    }
    .right-nav .nav-links a {
        font-size: 1rem;
        font-weight: 600;
        color: #333;
    }
    .right-nav ul.active{
        transform: translateX(0);
    }
    .overlay-bg{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
    }
    .overlay-bg.active{
        opacity: 1;
        visibility: visible;
    }
    .hero{
        padding: 40px 0 ;
        flex-direction: column;
        justify-content:unset;
        text-align: center;
        gap: 10px;
    }
    .project-grid{
        grid-template-columns: repeat(1, 1fr) ;
    }
    h2{
        font-size: 1rem;
    }
    .skill-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .skill-section .card-skill .name-img{
        margin: 0;
    }
    .contact{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-form form{
        display: grid;
    }
    .contact-form h3{
        display: flex;
        justify-content: flex-start;
    }   
    .contact-btn{
        width: 30vw;
    }
}