*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/736x/52/e7/37/52e737647c564c59bbade3abde3ecf78.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
}
.glass-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px;
    gap: 15px;
    width: 300px;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    transition: all 0.3s ease;
}
.glass-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
h2 { 
    margin: 0; 
    font-size: 28px; 
    text-shadow: 0 2px 4px rgba(0,0,0,0.5); 
}

p { 
    margin: 0; 
    font-size: 16px; 
    opacity: 0.8;
}